Source: kio-ftps
Section: kde
Priority: extra
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Laurent Léonard <laurent@open-minds.org>
Build-Depends: cdbs, cmake, debhelper (>= 7), kdelibs5-dev (>= 4:4.2.2), pkg-kde-tools (>= 0.4.2), quilt
Standards-Version: 3.8.3
Vcs-Git: git://git.debian.org/pkg-kde/kde-extras/kio-ftps.git
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-extras/kio-ftps.git
Homepage: http://kasablanca.berlios.de/kio-ftps

Package: kio-ftps
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: an ftps KIO slave for KDE 4
 An ftps KIO slave for KDE 4, based on rfc4217 and build upon the ftp KIO-slave
 sources. it should work yet with most server implementations. it issues an
 "AUTH TLS" command after connecting and refuses to continue, when it's not
 supported. in prior to every data channel io command ("STOR", "RETR", etc) it
 tries to secure the data channel via "PBSZ" and "PROT" commands. if that fails
 it will transfer data unencrypted. there is currently no support for
 ssl-certificates. this might be added on demand.
